<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Oracle</display-name>
<servlet>
    <servlet-name>clerkservlet</servlet-name>
    <servlet-class>cn.sdcet.shop.web.clerkservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>clmonservlet</servlet-name>
    <servlet-class>cn.sdcet.shop.web.clmonservlet</servlet-class>
  </servlet>
 
 
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CustomerAdd</servlet-name>
    <servlet-class>cn.sdcet.shop.web.CustomerAdd</servlet-class>
  </servlet>
 

  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <servlet-class>cn.sdcet.shop.web.UpdateInfoServlet</servlet-class>
  </servlet>

<servlet>
    <servlet-name>rootlogincheck</servlet-name>
    <servlet-class>cn.sdcet.shop.web.rootlogincheck</servlet-class>
  </servlet>

<servlet>
	    <servlet-name>GoodsServlet</servlet-name>
	    <servlet-class>cn.sdcet.shop.web.GoodsServlet</servlet-class>
	  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddOrderinforServlet</servlet-name>
    <servlet-class>cn.sdcet.shop.web.AddOrderinforServlet</servlet-class>
  </servlet>
<servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FindServlet</servlet-name>
    <servlet-class>cn.sdcet.shop.web.FindServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateOrderinforstatServlet</servlet-name>
    <servlet-class>cn.sdcet.shop.web.UpdateOrderinforstatServlet</servlet-class>
  </servlet>







	 <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/FindServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateOrderinforstatServlet</servlet-name>
    <url-pattern>/UpdateOrderinforstatServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>AddOrderinforServlet</servlet-name>
    <url-pattern>/AddOrderinforServlet</url-pattern>
  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>GoodsServlet</servlet-name>
	    <url-pattern>/goods</url-pattern>
	  </servlet-mapping>

   <servlet-mapping>
    <servlet-name>rootlogincheck</servlet-name>
    <url-pattern>/rootlogincheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CustomerAdd</servlet-name>
    <url-pattern>/servlet/CustomerAdd</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UpdateInfoServlet</servlet-name>
    <url-pattern>/servlet/UpdateInfoServlet</url-pattern>
  </servlet-mapping>



  <servlet-mapping>
    <servlet-name>clerkservlet</servlet-name>
    <url-pattern>/clerk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>clmonservlet</servlet-name>
    <url-pattern>/clmon</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>